<a href="https://colab.research.google.com/github/shaik615/DataScience_Python/blob/main/Chisquare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from scipy import stats
import pandas as pd
import numpy as np

In [3]:
from scipy.stats import chi2_contingency

In [11]:
table = [[14,0],[4,10]]

In [10]:
table

[[14, 4], [0, 10]]

In [12]:
stat, p, dof, expected = chi2_contingency(table)

In [13]:
alpha = 0.05

In [14]:
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
    print('Variables are associated (reject H0)')
else:
    print('Variables are not associated(fail to reject H0)')

significance=0.050, p=0.000
Variables are associated (reject H0)

In [7]:
dof

1

In [15]:
stat

12.600000000000001

In [16]:
data=pd.read_csv("/content/data.csv")

In [17]:
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [32]:
import scipy.stats as stats
stats.f_oneway(data.iloc[:,0], data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])

F_onewayResult(statistic=nan, pvalue=nan)

In [24]:
 
data['India'] = data['India'].map({'Error Free': 1, 'Defective': 0})

In [25]:
data

    Phillippines   Indonesia       Malta  India
0     Error Free  Error Free   Defective      1
1     Error Free  Error Free  Error Free      0
2     Error Free   Defective   Defective      1
3     Error Free  Error Free  Error Free      1
4     Error Free  Error Free   Defective      1
..           ...         ...         ...    ...
295   Error Free  Error Free  Error Free      1
296   Error Free  Error Free  Error Free      1
297   Error Free  Error Free   Defective      1
298   Error Free  Error Free  Error Free      1
299   Error Free   Defective   Defective      1

[300 rows x 4 columns]

In [29]:
data['Phillippines'] = data['Phillippines'].map({'Error Free': 1, 'Defective': 0})

In [30]:
data['Indonesia'] = data['Indonesia'].map({'Error Free': 1, 'Defective': 0})

In [31]:
data['Malta'] = data['Malta'].map({'Error Free': 1, 'Defective': 0})

In [33]:
import scipy.stats as stats
stats.f_oneway(data.iloc[:,0], data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])

F_onewayResult(statistic=nan, pvalue=nan)