<a href="https://colab.research.google.com/github/shaik615/DataScience_Python/blob/main/Hypothesis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
1+2

3

In [2]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [3]:
control=pd.Series([6.7703,
7.5093,
6.73,
6.7878,
7.1522,
6.811,
7.2212,
6.6606,
7.2402,
7.0503,
6.881,
7.4059,
6.7652,
6.038,
7.1581,
7.024,
6.6672,
7.4314,
7.307,
6.7478,
6.8889,
7.422,
6.5217,
7.1688,
6.7594,
6.9399,
7.0133,
6.9182,
6.3346,
7.5459,
7.0992,
7.118,
6.6965,
6.578,
7.3875])
Treat =pd.Series([6.809,  
6.4376,
6.9157,
7.3012,
7.4488,
7.3871,
6.8755,
7.0621,
6.684,
6.8236,
7.393,
7.5169,
6.9246,
6.9256,
6.5797,
6.8394,
6.597,
7.2705,
7.2828,
7.3495,
6.9438,
7.156,
6.5341,
7.2854,
6.9952,
6.8568,
7.2163,
6.6801,
6.9431,
7.0852,
6.7794,
7.2783,
7.1561,
7.3943,
6.9405])

In [4]:
stats.ttest_ind( control,Treat)

Ttest_indResult(statistic=-0.7228688704678063, pvalue=0.4722394724599501)

In [5]:
data=pd.read_csv("/content/LabTAT.csv")

In [6]:
data

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [7]:
import scipy.stats as stats
stats.f_oneway(data.iloc[:,0], data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [9]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [18]:
control=pd.Series([50,142,131,70])

In [17]:
group=pd.Series([435,1523,1356,750])

In [19]:
stats.ttest_ind(control,group)

Ttest_indResult(statistic=-3.5834877367684856, pvalue=0.011594334372357056)

In [23]:
data=pd.read_csv("/content/Costomer+OrderForm (1).csv")

In [24]:
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [25]:
import scipy.stats as stats
stats.f_oneway(data.iloc[:,0], data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])

ValueError: ignored