<a href="https://colab.research.google.com/github/shaik615/DataScience_Python/blob/main/python3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Python Numbers(int, float,complex)
a = 5

In [ ]:
type(a)

In [ ]:
a = 2.0

In [ ]:
type(a)

In [ ]:
a = 1+2j

In [ ]:
type(a)

In [ ]:
a = "Shafi"

In [ ]:
type(a)

In [ ]:
print(id(a))

In [ ]:
a = 15

In [ ]:
print(id(a))

In [ ]:
type(a)

###############################   List   ################################

In [ ]:
list1 = ['Python', 'Python', 2013, 2018,[1,2,3,4]]

In [ ]:
list1[2]

In [ ]:
list1[4][2]

In [ ]:
list2 = [1, 2, 3, 4, 5 ]

In [ ]:
print(id(list2))

In [ ]:
list2[3] = 257

In [ ]:
print(list2)

In [ ]:
print(id(list2))

In [ ]:
list3 = ["a", "b", "c", "d"]

In [ ]:
python_class = ["Basics", "of", "Python"]

In [ ]:
list1 = ['of', 'Basics', 2014, 2018]

In [ ]:
print(list1[0])

In [ ]:
list2 = [1, 2, 3, 4, 5, 6, 7 ]

In [ ]:
list2[3] = "Python"

In [ ]:
print(list2)

In [ ]:
list1 =[ "Shafi" ]

In [ ]:
print(id(list1))

In [ ]:
list2 = [1,2,3,4,5,6]

In [ ]:
print(id(list1))

In [ ]:
list3 = ['Python', 'Basics', 2013, 2018]

In [ ]:
list1+ list2 +list3

In [ ]:
print(id(list1))

In [ ]:
print(list1[2])

In [ ]:
list1[2] = 8055

In [ ]:
print(list1)

In [ ]:
list1[0] = "Basics"

In [ ]:
list1 = ['Python', 'Basics', 2013, 2018]

In [ ]:
print(list1)

In [ ]:
del(list1)

In [ ]:
print(list1)

In [ ]:
# Append

aList = [123, 'xyz', 'zara', 'abc']

In [ ]:
aList.append( 1234 )

In [ ]:
print(aList)

In [ ]:
#Pop

print (aList.pop())

In [ ]:
print(aList)

In [ ]:
aList

In [ ]:
print (aList.pop(2))

In [ ]:
aList

In [ ]:
#Insert

aList.insert( 1, 2009)

In [ ]:
print (aList)

In [ ]:
aList.insert(2,"shafi")

In [ ]:
print (aList)

In [ ]:
#Extend

aList = [123, 'xyz', 'tommy', 'abc', 123]

In [ ]:
bList = [2009, 'beneli']

In [ ]:
aList.extend(bList)

In [ ]:
print(aList)

In [ ]:
#Reverse

aList.reverse()

In [ ]:
print(aList)

In [ ]:
#Sort


blist = [8,99,45,33]

In [ ]:
blist.sort(reverse = True)

In [ ]:
print(blist)

In [ ]:
#count

aList = [123, 'xyz', 'zara', 'abc', 123, "zara"]

In [ ]:
print(aList.count("zara"))

##################################### Tuples ####################################

In [ ]:
## Create a tuple dataset
tup1 = ('Street triple','Detona','Beneli', 8055)
tup2 = (1, 2, 3, 4, 5 )
tup3 = ("a", "b", "c", "d")

In [ ]:
tup1

In [ ]:
tup2

In [ ]:
tup3

In [ ]:
### Create a empty tuple
tup1 = ()

In [ ]:
tup1

In [ ]:
#Create a single tuple
tup1 = (50,)

In [ ]:
tup1

In [ ]:
#Accessing Values in Tuples
tup1 = ('Street triple','Detona','Beneli', 8055)

In [ ]:
print(tup1[0])

In [ ]:
tup2 = (1, 2, 3, 4, 5, 6, 7 )

In [ ]:
tup2[2] = 14

In [ ]:
print(tup2[1:5])

In [ ]:
#Updating Tuples
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')

In [ ]:
tup1

In [ ]:
tup2

In [ ]:
# So,create a new tuple as follows
tup1 = tup1 + tup2
print(tup1)

In [ ]:
#Delete Tuple Elements
tup = ('Street triple','Detona','Beneli', 8055)
print (tup)

In [ ]:
del(tup)
print(tup)

In [ ]:
print ("After deleting tup : ")

In [ ]:
print(tup)

#Basic Tuples Operations

In [ ]:
#To know length of the tuple
tup = (1,2,3,'Basics','Python')
len(tup)

In [ ]:
#To add two elements
tup2 =(4,5,6)

In [ ]:
tup3 = tup+tup2

In [ ]:
tup3

In [ ]:
tup3*3

In [ ]:
tup4 = ('Hi!',)

In [ ]:
tup4*3

In [ ]:
# Max and min in tuple
tuple1 = (456, 700, 200)
print(max(tuple1))

In [ ]:
print(min(tuple1))

############################## Dictionary #################################

In [ ]:
#Accessing Values in Dictionary
dict1 = {'Name': 'Shafi', 'Age': 35, 'bike': 'Apache'}

In [ ]:
print(dict1)

In [ ]:
print(dict1['Name'])

In [ ]:
print(dict1['Age'])
print(dict1['bike'])

In [ ]:
##Updating Dictionary
dict1 = {'Name': 'Shafi', 'Age': 35, 'bike': 'Beneli'}
dict1['Age'] = 8; # update existing entry

In [ ]:
print(dict1)

In [ ]:
dict1['Name'] = "Adam shafi" # Add new entry

In [ ]:
dict1['bike'] = "Honda"

In [ ]:
dict1["Area"] = "Bangalore"

In [ ]:
dict1

In [ ]:
print(dict1['Age'])
print(dict1['bike'])

In [ ]:
#Delete Dictionary Elements
dict1 = {'Name': 'Shafi', 'Age': 35, 'bike': 'Apache'}

In [ ]:
del(dict1['Name']); # remove entry with key 'Name'

In [ ]:
dict1

In [ ]:
dict1.clear()    # remove all entries in dict

In [ ]:
dict1

In [ ]:
del(dict1)        # delete entire dictionary

In [ ]:
dict1