<a href="https://colab.research.google.com/github/shaik615/DataScience_Python/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
130-120

10

NameError: ignored

In [3]:
from scipy import stats

In [5]:
stats.t.cdf(2.24,df=79)

0.9860494190014708

In [6]:
stats.t.cdf(1.41,df=49)

0.9175720274097726

In [7]:
1 - 0.9175720274097726

0.08242797259022738

In [8]:
0.08242797259022738 + 0.08242797259022738

0.16485594518045477

In [12]:
2 * stats.t.cdf(-1.41,df=49)

0.1648559451804547

In [19]:
2 * stats.t.cdf(0,df=49)

1.0

In [20]:
#import the libraries
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [21]:
data=pd.Series([0.593, 0.142, 0.329, 0.691, 0.231, 0.793, 0.519, 0.392, 0.418])

In [22]:
#This gives two tail test p value so divide by 2 to get final p-value
p=scipy.stats.ttest_1samp(data,0.3)[1]
p

0.05853032968489765

In [23]:
p/2

0.029265164842448826

In [24]:
control=pd.Series([91, 87, 99, 77, 88, 91])
Treat =pd.Series([101, 110, 103, 93, 99, 104])

In [25]:
stats.ttest_ind( control,Treat)

Ttest_indResult(statistic=-3.445612673536487, pvalue=0.006272124350809803)

In [26]:
import numpy as np

In [27]:
#Data:

n1 = 247
p1 = .37

n2 = 308
p2 = .39

In [28]:
population1 = np.random.binomial(1, p1, n1)
population2 = np.random.binomial(1, p2, n2)

In [29]:
population1.mean()

0.3724696356275304

In [30]:
import statsmodels.api as sm
sm.stats.ttest_ind(population1, population2)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

(-0.41235198445480514, 0.6802412545989687, 553.0)

In [31]:
# Load libraries
import pandas as pd
from sklearn import datasets
# Load digits dataset
iris = datasets.load_iris()

In [32]:
iris
df = pd.DataFrame(iris.data)
df

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [33]:
import scipy.stats as stats
stats.f_oneway(df.iloc[:,0], df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])

F_onewayResult(statistic=482.91531656927964, pvalue=4.660592480454751e-159)